form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /*max-width: 981px;*/
}

form .upper {
  display: flex;
  /*gap: 50px;*/
  /*flex-wrap: wrap; -später! */
  /*justify-content: space-between;*/
}

form .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 90%;
}

form .left,
form .right {
  width: 45%;
}

form .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form .red {
  color: #ff8190;
}

form h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 0px;
  width: 90%;
}

form .formVertLineId {
  border-left: 1px solid #d1d1d1;
  height: 424px;
}

form input,
form textarea,
form select {
  /*width: 440px;*/
  width: 90%;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  font-family: "Inter";
}

form input {
  height: 48px;
}

form textarea {
  height: 120px;
}

/* SELECT CONTACTS */

.dNone {
  display: none;
}

#contactList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  max-height: 150px;
  overflow-y: auto;
  margin-top: -16px;
  /*position: fixed;*/
  /*width: 440px;*/
  width: 90%;
}

#contactList input {
  width: auto;
}

.wrapperContactList {
  width: 100%;
  height: 300px;
  background-color: #2a3647;
}

.contactWrapperItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 7px 16px 7px 0px;
}

.contactWrapperItem:hover {
  background-color: #f5f5f5;
}

.contactNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  padding-left: 16px;
}

.initials:hover {
  color: white;
}

#selectedContacts {
  display: flex;
  gap: 4px;
}

/* PRIO STUFF */
.prioContainer {
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
}

.prioChoose {
  display: flex;
  align-items: center;
  gap: 6.5%;
  margin-bottom: 16px;
  width: 90%;
  justify-content: space-between;
}

.lowPrioImg {
  background-image: url("../assets/img/prioLow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
}

.medPrioImg {
  background-image: url("../assets/img/prioMedium.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
}

.highPrioImg {
  background-image: url("../assets/img/prioHigh.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
}

.high:hover,
.low:hover,
.med:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.highPrioBackground {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
}

.highPrioImageChange {
  background-image: url("../assets/img/prioHighHighlight.png");
}

.medPrioBackground {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
}

.medPrioImageChange {
  background-image: url("../assets/img/prioMediumHighlight.png");
}

.lowPrioBackground {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
}

.lowPrioImageChange {
  background-image: url("../assets/img/prioLowHighlight.png");
}

/* button unten */
button {
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clearButton {
  width: 110px;
  font-weight: 400;
  border: 1px solid #2a3647;
  background-color: #f6f7f8;
}

.clearButtonImage {
  background-image: url(../assets/img/cancel.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: cover;
}

.clearButton:hover .clearButtonImage {
  background-image: url(../assets/img/cancelBlue.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: cover;
}

.createButton {
  width: 183px;
  background-color: #2a3647;
  font-weight: 700;
  color: white;
}

.buttonPair {
  display: flex;
  gap: 16px;
}

/* subtask stuff */
.listEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subtaskList {
  margin: 0;
  margin-top: -8px;
  width: 90%;
  max-height: 100px;
  overflow-y: scroll;
  /*border: 1px solid lightgray;
  border-radius: 10px;*/
}

.listEntry img {
  cursor: pointer;
}

.subtaskEdit {
  border: none;
  width: 85%;
  font-size: 16px;
  height: 28px;
  padding: 0px;
  padding-left: 8px;
  margin: 0px;
}

.subtaskInputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listEntry:hover {
  background-color: #eeeeee;
}

.clearButton:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #29abe2;
  color: #29abe2;
}

.createButton:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* KLEINER ALS 1325 */
@media (max-width: 1325px) {
  .prioChoose span {
    display: none;
  }
}

/* noch vor der Handyansicht alles in einer Spalte */
@media (max-width: 1000px) {
  form .upper {
    flex-direction: column;
  }

  #formVertLine {
    display: none;
  }

  form .left,
  form .right {
    width: 100%;
  }

  form .right {
    align-items: flex-start;
  }

  form .clearButton {
    display: none;
  }
}

/* KLEINER ALS 830 - HANDYANSICHT!*/
@media (max-width: 830px) {
  form .lower {
    /*margin-bottom: 80px;*/
    left: auto;
    right: auto;
    width: 100%;
    padding: 0px;
  }

  .upper {
    justify-content: center !important;
  }

  form input,
  form textarea,
  form select {
    width: 100%;
  }

  .prioChoose {
    width: 100%;
  }

  #subtaskList {
    width: 100%;
  }

  #contactList {
    width: 100%;
  }

  form h4 {
    font-size: 16px;
  }

  form input,
  form select {
    height: 40px;
    font-size: 16px;
    padding: 0px 21px 0px 21px;
  }

  form textarea {
    font-size: 16px;
  }

  #selectedContacts {
    margin-bottom: 12px;
  }

  #contactList {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .lowerSpans {
    display: none;
  }

  .buttonPair {
    width: 100%;
  }

  .createButton {
    width: 100%;
  }
}
