/* The Modal (background) */
#modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
}

/* DESKTOP VIEW */
#modalAddOrEditContact {
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: slideInFromRightDesktop;
  animation-duration: 0.5s;
  /*max-width: 1212px;
  min-width: 1212px;
  width: 90vw;*/
  height: 592px;
  margin: 120px auto;
  align-items: stretch;
  background-color: white;
  border-radius: 30px;

  width: min(1212px, 90vw);
}

#modalAddOrEditContact .first {
  display: flex;
  width: min(467px, 40%);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  border-radius: 30px 0px 0px 30px;
  padding: 0px 20px;
  gap: 16px;
}

#modalAddOrEditContact .first .close {
  display: none;
}

#modalAddOrEditContact .first span {
  display: none;
}

#modalAddOrEditContact .first .logo {
  width: 53.93px;
  height: 66.48px;
}

#modalAddOrEditContact .first .headline {
  font-weight: 700;
  font-size: 61px;
}

#modalAddOrEditContact .first .subheadline {
  font-weight: 400;
  font-size: 27px;
}

#modalAddOrEditContact .first hr {
  width: 90px;
  border: 1px solid #29abe2;
  margin: 0px;
}

#modalAddOrEditContact .second {
  display: flex;
  align-items: center;
  /* padding: 70px;*/
  width: 20%;
  justify-content: center;
}

#modalAddOrEditContact .second img {
  width: 120px;
  height: 120px;
}

#modalAddOrEditContact .second div#editInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  color: white;
  border-radius: 180px;
  font-size: 47px !important;
  font-weight: 500 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

#modalAddOrEditContact .third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 15px 48px 15px;
  width: min(467px, 40%);
}

#modalAddOrEditContact .third .close {
  cursor: pointer;
  align-self: flex-end;
  /*width: 13.15px;
  height: 13.15px;*/
  padding-right: 10px;
  padding-bottom: 80px;
}

#modalAddOrEditContact .third form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 0px;
  height: 215px;
}

#modalAddOrEditContact .third form input {
  height: 50px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  border-radius: 10px;
  box-sizing: border-box;
}

.nameInput {
  background: url("./assets/img/person_small.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.mailInput {
  background: url("./assets/img/mail.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.phoneInput {
  background: url("./assets/img/call.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.buttonPair {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#rightButton {
  background-color: #2a3647;
  color: #ffffff;
  border: none;
}

#cancelButton,
#deleteButton {
  background-color: white;
  color: #2a3647;
  border: 1px solid #2a3647;
}

#rightButton,
#cancelButton,
#deleteButton {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: 51px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
}

#rightButton img,
#cancelButton img,
#deleteButton img {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  align-self: auto !important;
}

/* Add Animation */
@keyframes slideInFromBottom {
  from {
    bottom: -500px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes slideInFromRightDesktop {
  from {
    right: -2000px;
  }
  to {
    right: 0px;
  }
}

/* MOBILE */
@media (max-width: 620px) {
  #modalAddOrEditContact {
    flex-direction: column;
    animation-name: slideInFromBottom;
    height: 90vh;
    /*width: 80vw;*/
    margin: 30px auto;
    /*margin: 120px auto;*/
  }

  #modalAddOrEditContact .first {
    border-radius: 30px 30px 0px 0px;
    justify-content: flex-start;
    width: 100%;
    height: 40%;
  }

  #modalAddOrEditContact .first .headline {
    font-weight: 700;
    font-size: 47px;
  }

  #modalAddOrEditContact .first .subheadline {
    font-weight: 400;
    font-size: 20px;
  }

  #modalAddOrEditContact .first .logo {
    display: none;
  }

  #modalAddOrEditContact .first .close {
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 0px;
    padding-top: 20px;
  }

  #modalAddOrEditContact .second {
    padding: 0px;
    justify-content: center;
    margin-top: -60px;
    width: 100%;
    height: 20%;
  }

  #modalAddOrEditContact .second img {
    width: 120px;
    height: 120px;
  }

  .buttonPair {
    justify-content: center;
  }

  #cancelButton {
    display: none;
  }

  #modalAddOrEditContact .third {
    width: 100%;
    height: 40%;
    padding: 28px 15px 28px 15px;
  }

  #modalAddOrEditContact .third .close {
    display: none;
  }

  #modalAddOrEditContact .third form {
    gap: 24px;
  }

  #modalAddOrEditContact .third form input {
    height: 41px;
  }
}
