nav {
  display: none;
}

header .headerImages {
  display: none;
}

.arrowLeftBlue {
  /*display: none;*/
}

.headerinitials {
  display: none;
}

mobile-footer {
  display: none;
}

body {
  /*height: auto; /* bei auto kann man nicht scrollen! */
}
