/* GENERAL CSS STUFF */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
}

input,
button {
  border: unset;
  font-family: "Inter", sans-serif;
}

.hover {
  cursor: pointer;
}

body {
  margin: 0px;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.whiteBackground {
  position: absolute;
  background: #2a3647;
  width: 100%;
  height: 100%;
  animation: moveWhiteB 3s forwards;
  animation-delay: 0.5s;
  z-index: 1;
}

@keyframes moveWhiteB {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.icon {
  position: absolute;
  width: 100px;
  height: 121px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: moveImage 1s forwards;
  animation-delay: 0.5s;
}

@keyframes moveImage {
  from {
    transform: translate(-50%, -50%);
    width: 100px;
    height: 121px;
  }
  to {
    left: 20%;
    top: 12%;
    width: 64px;
    height: 78px;
  }
}

.signUpSection {
  position: absolute;
  bottom: 120px;
  display: block;
}

.noUser {
  font-size: 20px;
  padding-right: 15px;
}

.signInButton {
  background-color: #2a3647;
  color: white;
  width: 104px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
}

#registerButton {
  opacity: 0.5;
}

.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px 0px;
}

.backArrow {
  position: relative;
  left: -120px;
  top: 45px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 173px;
  height: 72px;
  /*margin-bottom: 20px;*/
  /*margin-top: 40px;*/
}

h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 0px;
  padding-bottom: 10px;
}

.line {
  height: 2px;
  width: 150px;
  background-color: #29abe2;
}

.logInSection {
  /*margin-bottom: 20px;*/
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.inputfield {
  margin-bottom: 20px;
  width: 250px;
  height: 48px;
  border-radius: 10px;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.outlineBlue {
  border: 1px solid #8cd1ef;
}

input {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
}

.logInSection input {
  width: 100%;
}

input[type="text"] {
  padding: 12px 20px;
  box-sizing: border-box;
}

input[type="password"] {
  padding: 12px 20px;
  box-sizing: border-box;
}

input[type="email"] {
  padding: 12px 20px;
  box-sizing: border-box;
}

.inputIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 12px;
}

.mailIcon {
  height: 22px;
  width: 22px;
}

.personIcon {
  height: 27px;
  width: 27px;
}

.lockIcon {
  height: 21px;
  width: 16px;
}

.rememberSection {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-top: 30px;
}

.acceptPolicy {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 30px;
}

.bluefont {
  color: #29abe2;
}

.logInButtonSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  margin-bottom: 0px;
}

.signInButtonSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 322px;
  margin-bottom: 25px;
}

.logInUserButton {
  background-color: #2a3647;
  color: white;
  width: 180px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.logInUserButton:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logInGuestButton {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #2A3647;
  width: 180px;
  border-radius: 8px;
  font-size: 16px;
}

.logInGuestButton:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logInInputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border: 1px solid;
}

.checkButton {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 3px;
}

.blueText {
  color: #36b0e3;
}

a {
  text-decoration: none;
}

span {
  text-align: center;
}

button {
  height: 48px;
}

.informationSection {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  width: 226px;
  color: #a8a8a8;
}

.informationSection a {
  color: #a8a8a8;
}

.feedback {
  position: absolute;
  background-color: #2a3647;
  text-align: center;
  color: white;
  bottom: 0%;
  left: 50%;
  width: 326px;
  height: 74px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  line-height: 74px;
  animation: moveSuccessful 0.7s forwards;
}

.acceptPolicyCheckbox {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.rememberMe {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@keyframes moveSuccessful {
  from {
    bottom: 0%;
    left: 50%;
  }
  to {
    bottom: 22%;
    left: 50%;
    width: 326px;
    height: 74px;
  }
}

@media (min-width: 420px) {
  .inputfield {
    width: 364px;
  }
  .logInButtonSection {
    width: 322px;
  }
  .noUser {
    padding-right: 30px;
  }
  .backArrow {
    position: relative;
    left: -140px;
    top: 45px;
  }
}

@media (max-width: 750px) {
  .signUpSection {
    /*bottom: 80px;*/
    bottom: 70px;
  }

  .informationSection {
    bottom: 40px;
  }
}

@media (min-width: 750px) {
  .whiteBackground {
    background: #ffffff;
  }

  @keyframes moveWhiteB {
    from {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .icon {
    width: 274px;
    height: 334px;
  }

  @keyframes moveImage {
    from {
      width: 274px;
      height: 334px;
    }
    to {
      left: 12%;
      top: 12%;
      width: 100px;
      height: 120px;
    }
  }

  .signUpSection {
    display: block;
    top: 67px;
    right: 40px;
  }

  .noUser {
    padding-right: 20px;
  }

  .signInButton {
    width: 126px;
    height: 49px;
  }

  .log-in {
    width: auto;
  }

  .backArrow {
    position: relative;
    left: -265px;
    top: 45px;
  }

  .headline {
    width: 315px;
    height: 89px;
  }

  h1 {
    font-size: 61px;
  }

  .line {
    height: 2px;
    width: 150px;
    background-color: #29abe2;
  }

  .logInSection {
    /*margin-bottom: 20px;*/
    margin-left: 115px;
    margin-right: 115px;
  }

  .inputfield {
    width: 422px;
  }

  .rememberSection {
    margin-top: 36px;
    margin-left: 50px;
  }

  .logInButtonSection {
    justify-content: space-between;
    flex-direction: row;
  }

  .logInUserButton {
    width: 110px;
    font-size: 21px;
    margin-bottom: 0px;
  }

  .logInGuestButton {
    background-color: #ffffff;
    color: #000000;
    width: 177px;
    font-size: 21px;
  }

  .informationSection {
    bottom: 75px;
    width: 256px;
  }
}

@media (max-width: 375px) {
  .icon {
    animation: moveImageSmall 2s forwards;
  }

  @keyframes moveImageSmall {
    from {
      transform: translate(-50%, -50%);
      width: 100px;
      height: 121px;
    }
    to {
      left: 9%;
      top: 4%;
      width: 33px;
      height: 40px;
    }
  }

  .informationSection {
    bottom: 20px;
  }

  .noUser {
    font-size: 16px;
  }

  .signInButton {
    width: 80px;
    height: 34px;
  }

  .signUpSection {
    /*bottom: 100px;*/
    /*bottom: 50px;*/
  }
}
